<a href="https://colab.research.google.com/github/heshu-000/python-new/blob/module-2/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a function which accepts two inputs from the user and compute n Cr

In [ ]:
def nCr(n, r):

	return (fact(n) / (fact(r)
				* fact(n - r)))
def fact(n):

	res = 1
	
	for i in range(2, n+1):
		res = res * i
		
	return res
n = 7
r = 4
print(int(nCr(n, r)))

35

# Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] Expected Output : ['Green', 'White', 'Black'

In [ ]:
colour = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
colour.pop(0)
colour.pop(3)
colour.pop(3)
print(colour)

['Green', 'White', 'Black']

# Program to get the difference between the two lists

In [ ]:
list1 = [7, 9, 11, 13, 15]
list2=[7, 2, 4, 6, 13, 8]
x = set(list1)
y = set(list2)
def diff(x,y):
  p = x.difference(y)
  q = y.difference(x)
  g = list(p)
  e = list(q)
  r = g+e
  print(r)
diff(x,y)

[9, 11, 15, 8, 2, 4, 6]

# Program to find the second smallest number and second largest number in a list.

In [ ]:
p = [2,3,9,8,5,6]
def dc():
  b = sorted(p)
  small2 = b[1]
  big2 = b[-2]
  print(small2)
  print(big2)
dc()

3
8

# Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number

In [ ]:
import math
a=[5,6,7,8,9]
b=[]
def dc():
  for i in a:
    c=(i,i*i)
    b.append(c)
    c=tuple(b)
  print(c)
  print(type(c))
dc()

((5, 25), (6, 36), (7, 49), (8, 64), (9, 81))
<class 'tuple'>

# Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] Explanation : (4, 5) of len = 2 is removed.

In [ ]:
a =  [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
i = 0
while i < len(a):
  if len(a[i]) == 2:
    a.pop(i)
  else:
    i = i+1
print(a)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

# Program to generate and print a dictionary that contains a number (between 1and n) in the form (x, x*x).
Sample Input: (n=6) : Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36}

In [ ]:
import math
a=[1,2,3,4,5,6]
b=[]
def dc():
  for i in a:
    c=(i,i*i)
    b.append(c)
    c=dict(b)
  print(c)
  print(type(c))
dc()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
<class 'dict'>

# Program to remove a key from a dictionary

In [ ]:
a = {
   4: "20",
   66: "79",
   88 : "99"
}
del a[88]
print(a)

{4: '20', 66: '79'}

# Program to get the maximum and minimum value in a dictionary

In [ ]:
a = {1,40,20,30,10,37,80} 
print(max(a),min(a))

80 1

# Program to perform operations on string using unicodes ,splitting of string,accessing elements of string using locations

In [ ]:
a= "happy to see you"
print(a.split())
print(a[1:3])

['happy', 'to', 'see', 'you']
ap

# Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements.For ex -.In Rabbit count how many times b has occurred .

In [ ]:
a= "happy to see you"
print(a.count("r"))

0

# Program for replacing one substring by another For example - Rabbit - Replace µbb¶ b\µcc¶

In [ ]:
a="prajwall"
print (a.replace("l" , "a" ))

prajwaaa

# Program to Acronym generator for any user input (ex-input is Random memory access then output should be RMA).Example - Random number (RN)

In [ ]:
string = input(":")
php = ""
smol = string.split(" ")
for word in smol:
  php = php + word[0].upper()
print(php)

:union bank
UB

# Python function that accepts a string and calculates the number of uppercase letters and lowercase letters

In [ ]:
def string(a):
    b=0;c=0
    for x in a:
        if x.isupper():
           b=b+1
        else:
           c=c+1
    print("the lower values", b)
    print("the upper values", c)

string("Abdevilers")

the lower values 1
the upper values 9

# Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
x Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2

In [ ]:
a=['abc', 'abz', 'aba', '1431']
c=0
for x in a :
    if len(x)>=2:
        if x[0]==x[-1]:
            c=c+1
print("the string of length 2 is",c)

the string of length 2 is 2